body {
	background: #D6B4FC;
}

h1 {
	color: #444546;
	font-size: 3em;
	text-align: center;
}

.sounds {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.sounds button {
	background: #5D21D0;
	border: 5px solid #5D21D0;
	display: block;
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	margin: 30px;
	padding: 30px;
}

.sounds button:hover, .sounds button:focus {
	background: #01F9C6;
	color: #444546;
}